.footer {
	height: 600px;
	background-image: url("../resources/footer/footer_wide.jpg");
	background-size: cover;
	padding-top: 350px;
}

.footer div{
	text-align: center;
}

.contact-us{
	margin-left: -30px;
	padding: 0;
	margin: auto;
	color: white;
	font: "proximanova-light";
}

.contact-us li{
	display: inline-block;
	vertical-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contact-us li a{
	color: inherit;
	font: inherit;
}

.contact-us li h3{
	margin-right: 30px;
}

.contact-us li img{
	height: 18px;
	display: inline;
	margin-top: -5px;
	margin-right: 10px;
}

.credit{
	margin: 0 auto;
	margin-top: 20px;
	font: "proximanova-regular";
	color: white;
}

@media (max-width: 550px) {
	.footer {
		padding-top: 300px;
	}

	.credit{
		padding: 10px;
	}
}