.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel{
  border:none;
  padding:0;
  border-radius: 0px;
}
.panel-heading{
  border:1px solid #fff;
  padding:10px;
  margin:0;
   border-radius: 0px;
}
.panel-body{
  border:1px solid #fff;
  padding:10px;
  border-top:0;
   border-radius: 0px;
}

.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
  min-width: 160px;
  padding: 15px;
  margin: 0 auto;
}

/**Galaxy S5**/
@media (max-width: 360px) {
	.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
		min-width: 150px;
	}
}

/**iPhone 5**/
@media (max-width: 320px) {
	.col-md-3, col-lg-3, col-sm-3, col-xs-3 {
		min-width: 132px;
	}
}

.panel-group {
  transform: translate3d(0,0,0);
}

.arrow {
  transform: translateZ(0) rotate(0deg);
  -webkit-transform: translateZ(0) rotate(0deg);
  transition: transform 500ms ease;
  -webkit-transition: transform 500ms ease;
}

.arrow.open {
  transform: translateZ(0) rotate(-180deg);
  -webkit-transform: translateZ(0) rotate(-180deg);
  transition: transform 500ms ease;
  -webkit-transition: transform 500ms ease;
}

