@font-face {
  font-family: 'proximanova-light';
  src: url('../resources/fonts/proximanova-light-webfont.woff') format('woff'),
  	url('../resources/fonts/proximanova-light-webfont.ttf') format('truetype');
} 
@font-face {
  font-family: 'proximanova-thin';
  src: url('../resources/fonts/proximanovat-thin-webfont.woff') format('woff'),
  	url('../resources/fonts/proximanovat-thin-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'proximanova-regular';
  src: url('../resources/fonts/proximanova-regular-webfont.woff') format('woff'),
  	url('../resources/fonts/proximanova-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'proximanova-bold';
  src: url('../resources/fonts/proximanova-bold-webfont.woff') format('woff'),
  	url('../resources/fonts/proximanova-bold-webfont.ttf') format('truetype');
}

.full-width {
  margin-left: 0px;
  margin-right: 0px;
}

.section-header{
	margin-top: 25px;
	margin-bottom: 5px;
  font-family: 'proximanova-light';
}

h1 {
	font-family: 'proximanova-thin';
  font-size: 60px;
}

h2, h4, h5{
	font-family: 'proximanova-light';
  color:#616161;
  font-size: 36px;
}

h3 {
  font-family: 'proximanova-light';
  color:#ffffff;
  font-size: 36px;
}

h4 {
  font-family: 'proximanova-light';
  color:#616161;
  font-size: 24px;
}

h6 {
  font-family: 'proximanova-light';
  color:#ffffff;
  font-size: 36px;
}

body{
  font-family: 'proximanova-regular';
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.page-section{
  background-color: rgba(245, 245, 245, 0.45);
  padding: 0px;
}

.wrapper{
  max-width: 1200px; 
  margin: 0 auto;
}

@media (min-width: 992px) {
  .col-md-10 {
      width: 100%;
  }

  .col-md-6 {
      width: 100%
  }

  .wrapper{
    max-width: 960px; 
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
      width: 100%; 
  }

  .wrapper{
    max-width: 1200px; 
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-8 {
      width: 100%;
  }
}

@media (min-width: 1200px) {}
  .col-lg-offset-2 {
      margin-left: 0px;
  }
}
