@font-face {
  font-family: 'proximanova-light';
  src: url('../resources/fonts/proximanova-light-webfont.woff') format('woff');
}

.full-width {
  margin-left: 0px;
  margin-right: 0px;
}

.section-header{
	margin-top: 25px;
	margin-bottom: 5px;
  font-family: 'proximanova-light';
}

h1, h2, h3, h4, h5{
	font-family: 'proximanova-light';
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.page-section{
  background-color: rgba(128, 128, 128, 0.16);
  padding: 0px;
}