@media (max-width: 978px) {
		.team-member {
			padding:0;
			margin:0;
		}
}

.bio-section {
	margin:10px;
	padding: 15px;
	background-color: #f2f2f2;
}
.selected-team-member{
	border:thick solid #8c8c8c;
}