@media (max-width: 978px) {
		.team-member {
			padding:0;
			margin:0;
		}
}

.bio-section {
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 10px;
    background-color: rgba(245, 245, 245, 0.60);
}

.team-member{
	cursor: pointer;
}

.team-member-photo{
}

.team-member-mouseover-box{
	bottom:0;
    top:0;
    left:15px;
    right:15px;
	position: absolute;
	transition: all 250ms ease;
}

.team-member-mouseover-box:hover{
	background: rgba(96,125,139,.4);
	box-shadow: inset 0 0 0 1px #607d8b;
}

.selected-team-member{
	border:thin solid #607d8b;
	
}

.col-xs-2 {
	margin-bottom: 30px;
}

@media (max-width: 500px) {
	.col-xs-2 {
		padding-left: 3px;
		padding-right: 3px;
		margin-bottom: 6px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

p {
	font-size: 16px;
}
