@media (max-width: 978px) {
		.team-member {
			padding:0;
			margin:0;
		}
}

.bio-section {
	margin:10px;
	padding: 15px;
	background-color: #f2f2f2;
}

.col-xs-2 {
    width: 16.66666667%;
    margin-bottom: 30px;
    min-width: 150px;
}

.team-member{
}

.team-member-photo{
}

.team-member-mouseover-box{
	bottom:0;
    top:0;
    left:15px;
    right:15px;
	position: absolute;
	-webkit-transition: all 250ms ease;
}

.team-member-mouseover-box:hover{
	background: rgba(0,0,0,.4);
}

.selected-team-member{
	border:thick solid #8c8c8c;
}