.header-placeholder{
	width: 100%;
    height: 850px;
    background-image: url('../resources/header/header_wide-webOpt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-playbutton{
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

.header-playbutton:hover{
	-webkit-transition: -webkit-filter 250ms ease;
}

.header-title {
    margin-top: 30px;
    margin-bottom: 45px;
    padding-top: 40px;
    max-width: 900px;
    color: white;
    font-size: 60px;
}

.header-playbutton:hover {
	-webkit-filter: brightness(130%);
}

.header-placeholder > ul{
	display: table;
	table-layout: fixed;
	margin: 0 auto;
	width: 100%;
	height: 70%;
	padding-right: 40px;
}

.header-placeholder > ul > li:nth-of-type(1){
	height: 20%;
}

.header-placeholder > ul > li:nth-of-type(2){
	height: 0vh;
}

.header-placeholder > ul > li{
	display: table-row;
}

.header-placeholder > ul > li > span{
	display: table-cell;
}

.header-info-buttons-desktop {
	max-width: 2000px;
	height: 300px;
	padding: 0px;
}

.header-info-buttons-desktop > li{
	display: inline-block;
	text-align: center;
	width: 314px;
	height: 250px;
	z-index: 1;
}

.header-info-buttons-desktop > li > div{
	margin-top: 50px;
	width: 314px;
	height: 250px;
	padding-right: 15px;
	padding-left: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}

.header-info-buttons-desktop > li:nth-of-type(1) > div{
	background-image: url('../resources/header/button_WL_white.png');
}

.header-info-buttons-desktop > li:nth-of-type(2) > div{
	background-image: url('../resources/header/button_DL_white.png');
}

.header-info-buttons-desktop > li:nth-of-type(3) > div{
	background-image: url('../resources/header/button_PP_white.png');
}

.header-info-buttons-mobile{
	display: none;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 850px;
    padding: 0;
    overflow: hidden;
}

.embed-responsive iframe {
    height: 750px;
}
@media(max-width: 1050px){
	.header-playbutton{
		margin-top: 3vw;
		height: 70px;
	}
	
	.header-title {
		margin-top: 63px;
		margin-bottom: 45px;;
		font-size: 52px;
	}
	
	.header-placeholder{
		width: 100%;
		height: 600px;
		background-image: url('../resources/header/header_wide-webOpt.jpg');
		background-size: cover;
	}

	.header-info-buttons-desktop > li > div{
		visibility: hidden;
	}

	.header-info-buttons-mobile {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
		
	.embed-responsive {
		position: relative;
		display: block;
		height: 600px;
		padding: 0;
		overflow: hidden;
	}
	
	.embed-responsive iframe {
    	height: 600px;
	}
}

@media(max-width: 770px) {
	.header-info-buttons-mobile {
		display: block;
	}

	.col-sm-4 {
		margin: 0 auto;
		width: 70%
	}
}

@media(min-width: 1200px){
	.header-info-buttons-desktop > li > div{
		margin-top: 60px;
	}
}

@media(min-width: 1700px){
	.header-placeholder{
		height: 900px;
		background-image: url('../resources/header/header_wideAF-webOpt.jpg');
	}

	.embed-responsive {
		height: 900px;
	}

	.header-title {
		margin-top: 70px;
	}
}
